/* Navbar.css */
/* Basic styling for the entire navbar */
.navbar {
    background-color: #333;
    padding: 50px;
  }
  
  /* Container for the links in the navbar */
  .navbar-container {
    display: flex;
    position: absolute;
  }
  
  /* Styling for the dropdown trigger */
  .trigger {
    display: block;
    margin-right: 40px;
  }
  
  /* Styling for the links in the navbar */
  .nav-item {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover styles for the links */
  .nav-item:hover {
    background-color: #555;
  }
  
 

